#container{
    position: absolute;
    border: 1px solid black;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 3px;
}
.field{
    width:100%;
    border: 1px solid black;
    height: 30px;
    margin-top: -10px;
    margin-bottom: 30px;
}
span:hover{
    cursor:default;
}
#save{
    border: none;
    padding: 10px 20px;
    text-align: center;
    color: white;
    background-color: #373737;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin: 0 5px;
    font-size: 100%;
    float: right;
}
#snackbar,#snackbar1 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -140px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
#snackbar.show,#snackbar1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }